#lastPage {
	& p:first-of-type {
		text-align: center;
	}

	.ok-symbol {
		width: 8em;
		height: auto;
		margin: 1em 0;
	}

	.infoText p {
		text-align: end;
	}

	.infoContent {
		display: flex;
		flex-direction: row;
	}

	& #backToStartBtn {
		background-color: $red;
		margin: 1.2em 2em;
		font-weight: 600;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 35px;
		width: 80%;

		& .btnText {
			color: white;
		}
	}
}