#lastPage {
	& p:first-of-type {
		text-align: center;
	}

	.ok-symbol {
		width: 8em;
		height: auto;
		margin: 1em 0;
	}

	.infoText p {
		text-align: end;
	}

	.infoContent {
		display: flex;
		flex-direction: row;
	}
}